a{
    text-decoration: None;
    color: white;
}
/*#home{
    list-style-image: url('../images/MTTN\ Jr\ Main\ Logo.png');
}-->*/
.clr{
    clear:both;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .container { 
    display: grid; 
    align-items: center;
    border: 1px solid black; }
 abbr{
    text-decoration: none;
 }
 
 .nav-links {
    flex: 1;
 }
 

body{
    background-color: black;
    padding-right:none;
    align-content: center;
    color: white;
}

.button{
    text-align:justify;
    margin: auto;
    font-size: 30px;
    padding: 20px;

}

.button:hover {  
    background-color: rgb(83, 77, 77);
    border-radius: 1px;
    padding: 20px;

}
.intro{
    color: white;
    border:1px white solid;
    padding: 10px;
    padding-right: 0%;
    border-radius:12px;
    text-align: center;
    background-color:rgb(30, 53, 58);
    width: 98%;

}
.intro h2{
    text-align: center;
    
}

.workshop,.event{
    color: white;
    width: 100%;
    margin: auto;
    border-radius: 2px;   
    background-color: rgb(21, 21, 33);
}
.workshop,.event h2{
    
    text-align: center;
}    

#box1{
        float:left;
        width: 33.3%;
        border:1px solid grey;
        padding:10px;
        border-radius: 5px;
        box-sizing:border-box;      

}
.box2{
    float:left;
    width: 33.3%;
    border:1px solid grey;
    padding:10px;
    border-radius: 5px;
    box-sizing:border-box;      

}
.button-1{
    color: grey;
    font: 14px;
    font-family: "Roboto","Arial",sans-serif;

}
.button-1:hover{
    text-decoration: underline;
}
.footer{
    margin-bottom: 0;
    margin-left: 0;
    margin-right:0 ;
}

.calendar_content h2{
    text-align:center;
}
table{
    margin: auto;
    padding: 10px;
    width:fit-content;
    border: 2px white solid;
    border-radius: 12px;
}
th{
    margin: 20px;
    padding: 10px;
    font: 25px solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
th,td{
    border: 1px solid white;
    text-align: center;
}
.table{
    font-size: larger;
    background: linear-gradient(180deg, #000000, #333333); color: #FFFFFF;
    
}
.table a:hover{
    color:rgb(217, 255, 0);
    text-decoration:underline;
    font: 20px bold;
}

#register{
    background-color: rgb(15, 227, 210);
    border-radius: 10px;
    border: white 2px solid;
    text-shadow:#000000
}

.form{
    margin: auto;
    background:linear-gradient(to bottom, #1a1a1a, #3bcee8);

    
}
.nicheka{
    text-align: center;
    }
 
/* Calendar shit*/

ul {
    list-style: none;
  }
  
.month {
    padding: 70px 25px;
    width: 95%;
    background-color: rgb(15, 227, 210);
    text-align: center;
  }
 /* .month ul {
    margin: 0;
    padding: 0;
  }
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  } 
  .month .prev{
    float: left;
    padding: 8px;
  }
  .month .next {
    float: right;
    padding-top: 8px;
  }*/
.container_calendar{
    
}
.calendar {
    background-color: antiquewhite;
    margin-left: 10%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    border-color: #FFFFFF;
    border-width: 10px;

}
.month ul{
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    justify-content:space-between;

}
.month{
    border-radius: 10px 10px 0px 0px;
    
}

.weekdays{
    margin-left: 2%;
    margin-right: 2%;
}
.weekdays ul{
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 1;
    justify-content:space-between;

}